.container{
    width:1000px;
    height:auto;
    margin:0px auto;
    font-family: "Microsoft YaHei",sans-serif;
}
textarea{
    width:250px;
    height:300px;
    font-size:16px;
}
form{
    display: inline-block;
    margin-left: 100px;
    margin-top: -50px;
}
button{
    border:0;
    color:white;
    background-color: #0099cc;
    cursor:pointer;
    padding:8px 12px;
    font-size: 16px;
    outline:none;
}
button:hover{
    background-color: #00b0e6;
}
table{
    display: inline-block;
    margin-left: 50px;
}
table caption{
    padding:5px;
    font-size: 18px;
}
table td{
    text-align: center;
}
table tr .title{
    display: block;
    width:300px;
}
table .register{
    width:50px;
    outline: none;
    text-align: center;
}
table .readonly{
    border:0px;
    border-bottom: 1px solid #4b4b4b;
}
table .submitReg{
    position: relative;
    z-index: 1;
    display: block;
    margin-top: -15px;
    width:50px;
    height:35px;
    font-size: 14px;
    padding:0px;
}
#order{
    height:20px;
    padding-left: 5px;
}
#submitBtn{
    display: none;
}
.result{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    word-break: break-all;
    overflow-y:scroll;
    background-color: #f4f4f4;
}
.result:first-child{
    margin-left: 0px;
}
.result>div{
    font-size: 14px;
    width:290px;
    height:400px;
    padding-left: 10px;
}
.orderRes{
    display:inline-block;
    width:300px;
    height:450px;
    background-color: #fcf7e5;
    margin-left: 30px;
    padding:2px;
    word-break: break-all;
    overflow-y:scroll;
}
.pointer{
    display: none;
    position: absolute;
    width:0;
    height:0;
    border-left:10px solid red;
    border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left:330px;
}